*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
}

.box1{
    position: absolute;
    padding: 5px;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(42, 0, 251);
    border-left: 2px solid #fff;
    border-radius: 50%;
    animation: rotate 3s infinite linear;
    z-index: 10;
}
h1{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightseagreen;
    animation: title 1s infinite alternate;
}

.box2{
    padding: 5px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(249, 0, 0);
    border-right: 2px solid #fff;
    border-radius: 50%;
    animation: rotate 5s infinite linear;
}

.box3{
    padding: 5px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 255, 98);
    border-top: 2px solid #fff;
    border-radius: 50%;
    animation: rotate 5s infinite linear;
}

.box4{
    padding: 5px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(253, 0, 160);
    border-bottom: 2px solid #fff;
    border-radius: 50%;
    animation: rotate 5s infinite linear;
}
.box4>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: img1 1s infinite alternate;
}
@keyframes rotate{
    from {
        transform: rotate(360deg);
    }
}
@keyframes img1{
    from {
        transform: rotate(-360deg) scale(0.5);
    }
}   
@keyframes title{
    from {
        transform: rotate(20deg) translateY(20px);
    }
}